.large-hero {
  position: relative;
  color: whitesmoke;

  &__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;

    @mixin atSmall {
      font-size: 4.5rem;
    }
  }
}
