.primary-nav {

    &--pull-right {
        float: right;
    }

    li {
        list-style: none;
        display: inline-block;
        padding-right: 20px;
        padding-top: 11px;
      }
    
      a {
        text-decoration: none;
        color: #fff;
      }
}