.testimonial {

  &__title {
    text-align: center;
  }

  &__name {
    text-align: center;
  }

  &--content-bg {
      margin-bottom: 3rem;
      padding-right: 1rem;
      padding-left: 1rem;
  }

  @mixin atMedium {
    background: url("assets/images/testimonial-bg.jpg") top center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;

    &__flex {
      flex-basis: 30%;
    }

    &--content-bg {
      background-color: rgba(255, 255, 255, 0.1);
      margin-top: 1rem;
      padding: .5rem 1rem 1.2rem;
    }

  }
}
